extends ../layout

block content
  div.statetitle
    h1 #{towns[0].fullstate}
  div.row
    div.col-md-6
    div.col-md-6.work
      for town in towns
        button.townbtn #{town._id}
        div.info
          button.place.postoffice Post Office
            ul
              li
                p.tab <strong>Address:</strong> #{town.postaddress}
              li
                p.tab <strong>Hours:</strong> #{town.posthours}
              li
                p.tab <strong>Phone:</strong> #{town.postphone}
          br      
          button.place Laundromats
            div.laundromat
          br
          button.place Showers
            div.showers
          br
          button.place Grocery Stores
            div.grocery
        br
script(src="/javascripts/script.js")